html, body{
    padding: 0;
    margin: 0;
}
.out{
    width: 400px;
    height: 400px;
    background: rgb(153, 92, 233);
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
}
.in{
    width: 100px;
    height: 100px;
    background: rgb(233, 69, 91);
    position: absolute;   
    font-size: 30px;
    color: #000;
    text-align: center;
    line-height: 100px;
}
.in1{
    top: calc(50% - 300px);
    left: calc(50% - 300px);
}
.in2{
    top: calc(50% - 300px);
    left: calc(50% + 200px);
}
.in3{
    top: calc(50% + 200px);
    left: calc(50% + 200px);
}
.in4{
    top: calc(50% + 200px);
    left: calc(50% - 300px);