table{
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgb(227, 235, 227);
}
td{
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    color: rgb(0, 0, 0);
}
tr:nth-child(3) td:nth-child(1){
    background-image: url(../img/mart-8.jpg);
    background-size: cover;
}
th{
    color: rgb(120, 216, 200);
    font-weight: 600px;
    background: rgb(237, 239, 241);
    border-bottom: 3px solid #fff;
}
th, td{
    text-align: center;
}
td + span{
    text-decoration: blink;
}